.operations {
  display: flex;
  margin: 16px 0;
}

.operation-btn {
  &:not(:first-child) {
    margin-left: 16px;
  }
}

.table-btn {
  font-size: 13px;

  &:not(:first-child) {
    margin-left: 16px;
  }
}
