.top-bar {
  position: fixed;
  top: 16px;
  right: 32px;
  display: flex;
}

.music {
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.languages {
  margin-left: 16px;
  color: white;

  span {
    font-size: 18px;
    opacity: 0.6;
  }

  .language {
    cursor: pointer;

    &.active {
      opacity: 1;
      cursor: default;
    }
  }
}

.setting {
  color: #ffffff;
  margin-left: 16px;
  font-size: 18px;
}
