.setting-instruction {
  padding-top: 16px;
}

.h1 {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(61, 68, 77, 0.7);
  margin: 0 0 16px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 5px;
}

.h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(61, 68, 77, 0.7);
  margin: 24px 0 16px;
  font-size: 24px;
  font-weight: 600;
}

.paragraph {
  &.level2 {
    margin-bottom: 48px;
  }
}

.title {
  &:not(.h1) {
    text-align: left;
  }
  color: #f0f6fc;
}

.content {
  text-align: left;
  color: #f0f6fc;
}
