.container {
  width: 100vw;
  height: 100vh;
}

.element {
  width: 120px;
  height: 160px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  border-radius: 3px;
  font-family: Helvetica, sans-serif;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.65);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: -1;
  }
}

.element-winner {
  border: 1.5px solid rgba(255, 215, 0, 0.8);
  box-shadow:
    0 0 20px rgba(255, 215, 0, 0.4),        /* 金色外发光 */
    inset 0 0 15px rgba(255, 215, 0, 0.2);  /* 内侧高光 */
  border-radius: 10px;
  color: #ffffff;

  &:before {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border-color: rgba(127, 255, 255, 0.75);
}

.element-winner:hover {
  box-shadow:
    0 0 20px rgba(255, 215, 0, 0.8),
    inset 0 0 15px rgba(255, 215, 0, 0.75);
  border-color: rgba(255, 215, 0, 1);
}

.element .name {
  height: 42px;
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #e0f2fe; /* 冰白文字 */
  /*text-shadow: 0 0 8px rgba(56, 189, 248, 0.8); !* 文字青色 Glow *!*/
  /*color: rgba(255, 255, 255, 0.75);*/
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.element-winner .name {
  color: #fff8e7;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 165, 0, 0.5);
}

.element .employee-id {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  color: rgba(127, 255, 255, 0.75);
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 70px;
}

.element-winner .employee-id {
  color: rgba(255, 235, 180, 0.8);
}

.element .department {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  color: rgba(127, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* 实现两头渐变虚化的科技感横线 */
  &::before {
    content: '';
    display: block;
    width: 95%;
    height: 1px;
    margin: 0 auto 0 auto;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(0, 242, 254, 0.4) 50%,
      transparent 100%
    );
  }
}

.element-winner .department {
  color: rgba(255, 235, 180, 0.8);

  &::before {
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 215, 0, 0.8) 50%,
      transparent 100%
    );
  }
}
