.container {
  width: 100vw;
  height: 100vh;
}

.element {
  width: 120px;
  height: 160px;
  background-color: rgba(0, 127, 127, var(--rand-alpha, 0.5));
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;

  /* 🚀 核心大招一：强制提升为独立 GPU 渲染图层，不占用主线程渲染 */
  /*will-change: transform, opacity;*/

  /* 🚀 核心大招二：开启 3D 硬件加速，让显卡去计算 matrix3d */
  /*transform-style: preserve-3d;*/
  /*backface-visibility: hidden;*/
}

.element-winner {
  background-color: rgba(242, 150, 0, 0.75);
  box-shadow: 0px 0px 12px rgba(242, 150, 0, 0.5);
  border-color: rgba(242, 150, 0, 0.25);
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}

.element-winner:hover {}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.element-winner .number {}

.element .name {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 36px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element-winner .name {}

.element .department {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.element-winner .department {}
