.item {
  margin: 16px 0;
}

.title {
  text-align: left;
  padding-left: 4px;
}

.content {
  display: flex;
}

.input {
  width: 50%;
  max-width:  500px;
}

.operation-btn {
  margin-left: 8px;
}

.clear-all-modal {
  .ant-modal-confirm-btns {
    text-align: center;
  }
}
